/*h1 {
color: #f5f5f5;
border-bottom: 5px solid darkseagreen;
background-color:  darkseagreen;
}
ul {
font-variant: small-caps;
}

.MainPage {
    background-image:url('/images/background.jpg');
        background-repeat: no-repeat, repeat;
        background-size: cover;


}
.AddPage{
    background-image:url('/images/background.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover;


}

.button {
  transition-duration: 0.4s;
}
.button:hover {

  background-color: #04AA6D; /* Green */
 /* color: white;
}

table {
background-color: darkseagreen
}

